.home-container {
  width: 100vw;
  padding-top: 10%;
  position: absolute;
  z-index: 1;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
}

.hero-container {
  padding-left: 10em;
  display: flex;
  flex-direction: column;
}

.hero-text {
  font-family: 'Crimson Text', serif;
  margin: 1em 1em 1em 0;
  font-size: 6rem;
}

.hero-description {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  line-height: 1.2em;
  width: 50%;
  backdrop-filter: blur(5px);
}

.hero-button-container {
  margin-top: 4em;
}
.hero-link {
  width: fit-content;

  .hero-button {
    transition: .3s;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.8rem;
    padding: 1em;
    border-radius: .5em;
    backdrop-filter: blur(4px);
    background: #00000044;
  }

  .story-button {
    margin-left: 1em;
    background: #eee;
    color: #000;
  }
}