.home-container {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

section {
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
}

.hero-container {
  display: flex;
  align-items: center;
}

.hero-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 10em;
}

.hero-text {
  font-family: 'Crimson Text', serif;
  margin: 1em 1em 1em 0;
  font-size: 6rem;
  text-shadow: 0 0 10px #777;
}

.hero-description {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  line-height: 1.2em;
  width: 90%;
  backdrop-filter: blur(5px);
  text-shadow: 0 0 5px #111;
}

.hero-button-container {
  margin-top: 4em;
}
.hero-link {
  width: fit-content;

  .hero-button {
    transition: .3s;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.8rem;
    padding: 1em;
    border-radius: .5em;
    backdrop-filter: blur(4px);
    background: #00000044;
  }

  .hero-button:hover {
    background: #222;
  }

  .story-button {
    margin-left: 1em;
    background: #eee;
    color: #000;
  }
}

.saturn {
  margin-right: 10%;
  //filter: hue-rotate(60deg);
  filter: brightness(90%) hue-rotate(100deg);
}

.what-section {
  backdrop-filter: blur(10px);
  background: #00000055;
  display: flex;
  flex-direction: column;
}

.what-section-title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3rem;
  margin-top: 12%;
  text-align: center;
}

.what-section-description {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2rem;
  margin-top: 1em;
  display: none;
}

.features-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: #191919;
}

.features-title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3rem;
  margin-top: 10%;
  text-align: center;
  //border-bottom: 2px solid #444;
}

.features-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 48%;
}

.features-description {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 2em;
}

.features {
  display: flex;
}

.feature-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 17em;
  width: 17em;
  border-radius: 2em;
  border: 1px solid #444;
  background: #222;
  margin: 2em;
  transition: .3s;
}

.feature-card:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 0 10px #555;
}

.feature-icon {
  height: 35%;
  width: 35%;
  margin-bottom: 2.2em;
}

.feature-title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  margin-bottom: .4em;
}

.feature-description {
  font-family: 'Josefin Sans', sans-serif;
  font-size: .8rem;
  opacity: .5;
  width: 80%;
  text-align: center;
}

.last-section {
  backdrop-filter: blur(10px);
  background: #00000055;
  display: flex;
  flex-direction: column;
}

.last-container {
  height: 70%;
}

.last-section-title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3rem;
  margin-top: 12%;
  text-align: center;
}

.last-section-button {
  font-size: 2rem !important;
}

.home-footer {
  height: 30%;
  background: #191919dd;
  border-top: 1px solid #444;
}